@model AddMeetingRoomModel


<header class="masthead" style="background-image: url('/img/header-bg.jpg');">

    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome</span></div>
            <div class="intro-heading text-uppercase"><span>Edit Room<br></span></div>
        </div>
    </div>
</header>

<section class="position-relative py-4 py-xl-5" style="margin-top: 100px;">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <picture><img src="@Model.ImageUrl" id="displayImage" style="padding-right: 0px; width: 500px;height: 459px;"></picture>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4" style="padding-left: 19px;padding-top: 20px;margin-left: 98px;">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <form method="post" asp-action="EditRoom">
                            <div class="mb-3"><input asp-for="RoomName" class="form-control" type="text" id="name-2" placeholder="Meeting Room Name" required=""></div>
                            <div class="mb-3"><input asp-for ="Location" class="form-control" type="text" id="email-2"  placeholder="Address" required=""></div>

                            <input type="file" name="file" id="file" onchange="convertImgtoBase64(this)">
                            <input class="form-control" id="imageUrl" asp-for="ImageUrl" hidden>

                            <div class="mb-3"><textarea asp-for="Discription" class="form-control" id="message-2" rows="6" placeholder="Room Discription" style="margin-top: 10px;padding-top: 15px;" required=""></textarea></div>
                            <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                            <div style="padding-top: 10px;"><button asp-action="DeleteRoom" class="btn btn-primary d-block w-100" type="Button">Delete </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                            
<script type="text/javascript"> 

   function convertImgtoBase64(element) { 
       debugger;
      var file = element.files[0]; 

      var reader = new FileReader(); 

      reader.onloadend = function() {

            $("#imageUrl").attr("href", reader.result);

            $("#imageUrl").val(reader.result);
            $("#displayImage").attr("src", reader.result);
        } 

      reader.readAsDataURL(file); 

    } 

</script> 